<ion-view view-title="Button">
    <ion-content>
        <ion-list>
            <ion-toggle ng-model="settings.enableFriends">
               hello
            </ion-toggle>
            <ion-checkbox>
                hello checkbox
            </ion-checkbox>
            <div class="item range">
                <i class="icon ion-volume-low"></i>
                <input type="range" name="volume">
                <i class="icon ion-volume-high"></i>
            </div>
            
            <div class="list">
                <div class="item range range-positive ">
                    <i class="icon ion-ios-sunny-outline"></i>
                    <input type="range" name="volume" min="0" max="100" value="33">
                    <i class="icon ion-ios-sunny"></i>
                </div>
            </div>
            
        </ion-list>
       
    </ion-content>
</ion-view>
